*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(23, 23, 23);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    margin: 5px 5px;
    color: rgb(0, 102, 255);
    text-decoration: underline;
    cursor: pointer;
}

p{
    margin: 10px;
}